html {
    background-color: rgb(247, 247, 247);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* height: 100%;
    width: 100%; */
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7.5rem;
}

h2 {
    text-align: center;
}

img {
    width: auto;
    height: 3.5rem;
}

h1 {
    font-size: 2.5rem;
    padding-right: 1rem;
}

.LibDiv {
    border: 1px solid rgb(0, 136, 160);
    width: 95%;
    text-align: center;
    border-radius: 5px;
    margin: 8px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(192, 192, 192, 0.5);
    /* filter: blur(5px); */
    backdrop-filter: blur(4px);
}

.modal-content {
    background-color: #f3f3f3;
    margin: 15% auto;
    padding: 25px;
    border: 1px solid #888;
    width: 60%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 25px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.renderdiv {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 5px;
    padding: 10px;
    height: auto;
    width: auto;
    border: 1px solid black;
    border-radius: 5px;
}

.renderdiv > div {
    margin: 5px;
}

.divcard {
    height: auto;
    text-align: center;
    width: 125px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: burlywood;
}

.bookbtn {
    background-color: coral;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    border: 2px solid black;
}

.readbtnclass {
    background-color: greenyellow;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.readbtnno {
    background-color: red;
}

.readbtnyes {
    background-color: greenyellow;
}

.pagenumStyle {
    font-weight: bold;
}

.dark-mode {
    background-color: rgb(41, 41, 41);
    color: ivory;
}

.dark-mode-button {
    border: 3px solid black;
}

.div-dark {
    background-color: teal;
    color: rgb(109, 0, 103);
}

.BkBtnClass {
    border: 2px solid rgb(44, 44, 44);
    background-color: white;
    color: black;
    padding: 16px 32px;
    margin: 8px;
    border-radius: 2px;
    font-size: 1.25rem;
    text-decoration: none;
    cursor: pointer;

}

.BkBtnClass:hover {
    background-color: rgb(54, 54, 54);
    color: white;
    transition: 0.3s;
    border: 1px solid black;
}